.form-group label{
    color: initial;

}

.form-control{
    color: initial;
    border: 1px solid;
}
.modal-title{
    text-align: center;
    font-size: xx-large;
}
input::placeholder, textarea::placeholder {
    color: black;
  }
  