@charset "utf-8";
/* CSS Document */




body {
	font-family: 'Open Sans', "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin: 0;
	padding: 0;
	letter-spacing: -0.5px;
}
body.login {
	background-image: url(pix/bg_capa_login.jpg);
	background-repeat: no-repeat;
}


/*body.logado {
	background: url(pix/bg_lente.png), #396197; 
	background: url(pix/bg_lente.png), -moz-linear-gradient(-55deg, 396197 19%, #a6caff 100%); 
	background: url(pix/bg_lente.png), -webkit-linear-gradient(-55deg, 396197 19%, #a6caff 100%);
	background: url(pix/bg_lente.png), linear-gradient(145deg, #396197 19%, #a6caff 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#396197', endColorstr='#a6caff', GradientType=1 ); 
	background-position:256px;
	background-repeat: no-repeat;
	box-shadow: inset 0px 13px 0px rgba(62, 73, 107, 0.5);
}*/




body.logado {
	background: url(pix/bg_lente.png), url(pix/bg_dashboard.jpg); 
	background-position:256px;
	background-repeat: no-repeat;
	box-shadow: inset 0px 13px 0px rgba(62, 73, 107, 0.5);
	background-attachment: fixed;
}




.login_box {
	width: 393px;
	border-radius: 17px;
	background-color: rgba(11, 18, 23, 0.42);
	box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.12);
	position: absolute;
	top: 176px;
	left: 179px;
}
.login_logo {
	width: 209px;
	height: 55px;
	background-image: url(pix/logo_meu_serpro.svg);
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 22px;
	background-size: 100%;
}
form.login_form {
	text-align: center;
}
.login_form input[type=text] {
	width: 78%;
	margin: 10px 0 0 0;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 11px;
	padding-right: 20px;
	padding-top: 12px;
	padding-bottom: 7px;
	background: inherit;
	border: none;
	font-size: 15px;
	border-bottom: 1px solid #414a5d;
	height: 35px;
}
.login_form input[type=text]:focus {
	background-color: rgb(255, 248, 200);
	color: #636363;
	transition: linear 0.4s;
}
.forgot {
	font-size: 0.7em;
	color: #7d53e3;
	display: block;
	text-align: right;
	width: 350px;
	margin-bottom: 22px;
	margin-top: 4px;
}
.button {
	width: 202px;
	background-color: #7d53e3;
	display: block;
	border-radius: 16px;
	text-align: center;
	padding-top: 10px;
	margin: 0 auto;
}
.button:hover {
	background-color: #e3a853;
	transition: linear 0.4s;
}
a.button {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	padding: 6px 1px;
	margin-bottom: 22px;
}
header .other {
	border-bottom: 2px solid rgba(198, 205, 222, 0.53);
    box-shadow: 0 2px rgba(15, 49, 103, 0.37);
    height: 78px;
}
.al-logo {
	width: 250px;
	height: 75px;
	background: url(pix/logo_meu_serpro.svg), url(pix/bg_logo_interna.jpg);
	background-repeat: no-repeat, repeat-x;
	background-size: 70%, auto;
	background-position: center;
	border-top: 1px inset #becbff;
	border-left: 3px inset #2c4296;
	border-bottom: 3px solid #141b3e;
	border-right: 3px solid #172152;
	float: left;
	position: relative;
    top: 1px;
}
aside.al-sidebar {
	background: url(pix/bg_sidebar.png), #1a224e; /* Old browsers */
	width: 256px;
	display: block;
	height: 500px;
	min-height: 1014px;
	background-position: 63% 45%;
	float: left;
}
.user-profile {
	width: 100%;
	position: relative;
	top: 50px;
	margin-bottom: 130px;
}
.dropdown.al-user-profile {
	width: 80%;
	margin: 0 auto;
}
.profile-toggle-link {
	float: left;
	margin-right: 9px;
}
.user-profile .name {
	line-height: 110%;
	padding-top: 15px;
	color: #FFF;
	font-size: 18px
}
.user-profile .name span {
	display: inherit;
	font-weight: normal;
	font-size: 0.7em;
	color: #7e7f80;
}
.progress {
	width: 90%;
	height: 8px;
	background: #dedede;
	margin: 30px auto;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 9.8px;
	color: #4c69ca;
}
.actual_progress {
	background: #5272db;
	width: 50%;
	height: 4px;
	border-radius: 5px;
	border-top: 2px solid #98abea;
	border-bottom: 2px solid #435db3;
	border-right: 3px solid #4166D3;
}
.nivel_atual {
	float: left;
	margin-top: 6px;
}
.nivel_proximo {
	float: right;
	color: #8897b3;
	text-transform: uppercase;
	font-size: 9.8px;
	margin-top: 6px;
}
.nivel_atual span, .nivel_proximo span {
	color: #92a9f5;
}
.al-sidebar-list-item {
	list-style: none;
	line-height: 312%;
	padding: 0;
	font-size: 0.98em;
}
.al-sidebar-list-item.active {
	background: hsla(230,55%,4%,0.42);
	border-left: #6bbee6 5px solid;
}
.al-sidebar-list-item a {
	color: #b3bdc3;
	text-decoration: none;
	padding-left: 26px;
}
.al-sidebar-list-item.active a {
	padding-left: 21px;
}
.al-sidebar-list-item a:hover {
	color: gold;
}
.al-sidebar-list-item span {
	background: #e04030;
	margin-left: 30px;
	color: white;
	padding: 2px 11px;
	border-radius: 8px;
	font-size: 0.8em;
}
.al-sidebar-list-item span:hover {
	background: orange;
}
.al-sidebar-list-item a img {
	width: 20px;
	height: 17px;
	position: relative;
	top: 3px;
	padding-right: 14px;
}
/*PROFILE HEADER */

header .user-profile {
	width: 19%;
	float: right;
	position: relative;
	top: 15px;
	background: url(pix/bg_divisoria.png);
	background-repeat: no-repeat;
	background-position: left 26%;
	height: 78px;
}
header .dropdown.al-user-profile {
	width: 80%;
	margin: 0 auto;
	position: relative;
	top: 10px;
}
header .user-profile img {
	width: 38px;
}
header .user-profile .name {
	padding-top: 9px;
}
header .user-profile .name img {
	width: 13px;
	padding-left: 20px;
}
/*ICONES HEADER*/

.support ul {
	padding-top: 36px;
	width: 200px;
	margin: 0;
	display: block;
	float: left;
}
.support img {
	width: 23px;
}
.support li {
	float: left;
	list-style: none;
}
.support li:first-child, .support li:nth-child(2) {
	padding-right: 20px;
}
.support .counter {
	background: red;
	border-radius: 30px;
	padding: 0 5px;
	font-size: 0.7em;
	position: relative;
	top: -19px;
	left: -10px;
	color: white;
	text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.19);
}
.support ul a {
	text-decoration: none;
}
.support .chat {
	background: #38cec1;
}
.support .notify {
	background: #e04030;
}
.money_header {
	color: #f5f7fb;
	font-weight: bold;
	font-size: 25px;
	float: left;
	padding-top: 26px;
	margin-left: 38%;
	text-shadow: 2px 2px 0 hsla(0,32%,9%,0.24);
}
.money_header img {
	float: left;
	width: 35px;
	padding-right: 19px;
	position: relative;
	top: -1px;
}
/*box pontos */

.al-sidebar-right {
	float: right;
	
}


.al-sidebar-right ul {
	width: 3px;
    margin-top: 51px;
	
}


ul.box_ponto li {
	list-style: none;
    width: 230px;
    height: 82px;
    border-radius: 10px;
    float: left;
    margin-right: 12px;
	margin-bottom: 13px;
	box-shadow: 5px 5px 2px rgba(58, 88, 144, 0.4);

}

ul.box_ponto li.amarelo {
    background: url(pix/bg_ponto_amarelo.png) #fff;
	background-repeat: no-repeat;
	background-position: bottom left;
	color: #ffc000;
}

ul.box_ponto li.azul {
    background: url(pix/bg_ponto_azul.png) #fff;
	background-repeat: no-repeat;
	background-position: bottom left;
	color: #73b8df;
}


ul.box_ponto li.laranja {
    background: url(pix/bg_ponto_laranja.png) #fff;
	background-repeat: no-repeat;
	background-position: bottom left;
	color: #ff8400;
}

ul.box_ponto li.roxo {
    background: url(pix/bg_ponto_roxo.png) #fff;
	background-repeat: no-repeat;
	background-position: bottom left;
	color: #a997d9;
}

ul.box_ponto li.verde {
    background: url(pix/bg_ponto_verde.png) #fff;
	background-repeat: no-repeat;
	background-position: bottom left;
	color: #91c224;
}

ul.box_ponto li.preto {
    background: url(pix/bg_ponto_preto.png) #fff;
	background-repeat: no-repeat;
	background-position: bottom left;
	color: #3b4041;
	margin-top: 15px;
}


ul.box_ponto li.moedas_divisoria {
	width: 220px;
    height: 3px;
    background: url(pix/bg_divisoria_moedas.png);
    display: block;
    box-shadow: none;
    background-repeat: no-repeat;
    margin-top: 14px;
	background-position: center center;
	
}


ul.box_ponto li img {
	padding-left: 15px;
	padding-top: 4px;
	float: left;
}


ol.ranking-list li .content-li {
    font-weight: bold;
    color: #666a75;
    font-size: 1em;
    line-height: 114%;
    padding-top: 25px;
    padding-left: 35px;
}



ul.box_ponto li .number_counter{

    font-size: 48px;
    font-weight: bold;
    line-height: 101%;
    padding-top: 3px;

}


ul.box_ponto li .objetivo {
	display: block;
	line-height: 90%;
	text-align: center;
	color: #a9a9a9;
	font-size: 0.7em;
	font-weight: normal;
}

.box_counter_ponto {
	margin-left: 55px;
    text-align: center;
    width: 71%;
}

.clear {
	clear: both;
}

.centerponto {
	padding-top: 9px !important;
}


/*CENTRO */

article {
    width: 60%;
    min-height: 590px;
	float: left;
	text-align: center;
}

h1 {
	color: #fff;
    font-weight: normal;
    font-size: 1.5em;
    letter-spacing: -1px;
    background: rgba(0, 0, 0, 0.1);
    display: table;
    text-align: center;
    margin: 47px auto;
    padding: 2px 50px;
    border-radius: 17px;
    position: relative;
    text-shadow: 2px 2px 0 rgba(52, 65, 105, 0.33);
    top: 34px;
}


.medium-card {
width: 30%;
    min-height: 400px;
    background: url(pix/bg_widget_header.gif), #fff;
    background-repeat: no-repeat;
    background-position: 113px 0;
    border-top: 6px solid #e56e55;
    border-radius: 4px;
    margin-left: 28px;
    box-shadow: 0px 0px 14px rgba(52, 76, 111, 0), 0px 0px 14px rgba(65, 94, 136, 0.55), 0 -2px 0 #e9715a;
    margin-top: 94px;
    float: left;

}




.medium-card.azul {	
	background: url(pix/bg_widget_header_azul.gif), #fff;
	border-top: 6px solid #7e8fa3;
	box-shadow:0px 0px 14px rgba(52, 76, 111, 0), 0px 0px 14px rgba(65, 94, 136, 0.55), 0 -2px 0 #758ca2;;
	background-repeat: no-repeat;
	background-position: 113px 0;

}

.pontos{
	color: #ff977d;
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: left;
    margin-left: 20px;
    top: 3px;
    position: relative;
}


.pontos.azul{
	color: #ff977d;

}


.card-header{
	color: #fff;
    text-align: right;
    padding-right: 20px;
    position: relative;
    top: -6px;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.29);
	font-size: 0.98em;
	
}

ul.ranking-list {
	padding: 0;
	margin-top: 0;
	
}


ul.ranking-list li{
	list-style: none;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 19px;
	text-align: left;
	height: 50px;
	
}


ul.ranking-list li:nth-child(odd) {
    background-color: #fff;
}
ul.ranking-list li:nth-child(even) {
	background-color: #f7f7f7;
}



ul.ranking-list li .content-li-counter{
	font-size: 1.9em;
    color: #ff977d;
    float: left;
    margin-top: 8px;
    padding-left: 30px;
    position: relative;
    top: 3px;
    font-style: italic;
}



ul.ranking-list li .content-li-counter.azul{
	
    color: #968c98;
}


ul.ranking-list li img{
    width: 39px;
    position: relative;
    top: 12px;
    padding-right: 5px;
    float: left;
    padding-left: 10px;
}


ul.ranking-list li .name {
    font-weight: bold;
    color: #363d4d;
    font-size: 0.85em;
    line-height: 114%;
    padding-top: 20px;
	
}

ul.ranking-list li .name span {
    font-weight: normal;
    display: block;
    font-size: 0.7em;
    color: #a5b0b8;
    text-transform: uppercase;
    letter-spacing: 0;
}


ul.ranking-list li .content-li.azul .name {
    font-weight: bold;
    color: #666a75;
    font-size: 1em;
    line-height: 114%;
    padding-top: 25px;
    padding-left: 145px;
}



ul.activies-list {
	padding-top: 20px;
    margin-left: 0;
    padding-left: 0;
	
	
}


ul.activies-list li  {
	line-height: 227%;
    text-align: left;
    color: #565a63;
    padding: 9px;
    list-style: none;
}

ul.activies-list li span {
	background: #676767;
    width: 31px;
    height: 30px;
    border-radius: 20px;
    display: block;
    color: white;
    text-align: center;
    line-height: 188%;
    font-weight: bold;
    float: left;
    position: relative;
    margin-right: 6px;
    top: 3px;
}

ul.activies-list li:nth-child(odd) {
    background-color: #fff;
}

ul.activies-list li:nth-child(even) {
    background-color: #f7f7f7;
}


.badge_box {
	width: 100%;
	margin-top: 84px;
}

.medium-card.atividade{
	background: url(pix/bg_widget_header_cinza.png), #ebebeb;
    border-top: 6px solid #515151;
    box-shadow: 0px 0px 14px rgba(52, 76, 111, 0), 0px 0px 14px rgba(65, 94, 136, 0.55), 0 -2px 0 #3f3f3f;
    background-repeat: no-repeat;
    background-position: 113px 0;
	
}



ul.activies-list li.tachado  {
    text-decoration: line-through;
    color: #c3c3c3;
}

ul.activies-list li.tachado span {
    background: #cacaca;
}