@import '../../sass/conf/conf';
.badges-list{
    list-style: none;
    .item{
      // display: inline-grid;
      // display: inline;
      // padding: 20px;
      float: left;
      text-align: center;
      margin-left: 90px;
      // display: grid;
      // padding-top: 75px;
      // img{
      //   // display: inherit
      // }
      .logo-text{
        text-align: center;
      }
    }
    // background-image: url("/assets/img/voce/bg_prateleiras.jpg");
    background: url('/assets/img/voce/bg_prateleiras.jpg') no-repeat 50% 21%;
    height: 1000px;
    .badges-group{
      padding-top: 95px;
    }

    
}
:host /deep/ .popover-content{
  color: black;
}

.shadow{
  // margin-top: -124px;
  margin-left: -144px;
}