
<div class="badges-list">
  <div *ngFor="let local_badges of groupBadges()"class="badges-group clearfix">
        
  <div class="item" *ngFor="let badge of local_badges">
    <div class='badge-image'>
    <img [ngbPopover]="badge.description" src="{{badge.picture}}"/>
    
    <!-- <img [ngbPopover]="badge.description" *ngIf="!hasBadge(badge)" src="inactiveImagePath(badge)"/> -->
    <img class="shadow" *ngIf="!hasBadge(badge)" src="/assets/img/voce/badge_shadow.png"/>
  </div>
    <div class='badge-name'>
    <span class="logo-text" translate>{{badge.name}}</span>
    </div>
  </div>
  </div>
</div>
