

<div class="medium-card">
  <div class="card-header"> Ranking de Propostas </div>
  <div class="content">
    <div class="pontos">Votos</div>
    <ul class="ranking-list">
      <li *ngFor="let proposal of proposals">
        <div class="content-li row">
          <div class="content-li-counter col-1"> {{proposal.votes_count}} </div>
          <div class="identifier col-1">#{{proposal.id}}</div>
          <div class="name col-8">
            {{proposal.title | shorten: 200: '...'}}
            <!-- {{user.name | shorten: 25: '...'}} -->
            
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>