@import '../../../sass/conf/conf';

h1 {
  color: #fff;
  font-weight: normal;
  font-size: 1.5em;
  letter-spacing: -1px;
  background: rgba(0, 0, 0, 0.2);
  display: table;
  text-align: center;
  margin: 47px auto;
  padding: 2px 50px;
  border-radius: 17px;
  text-shadow: 2px 2px 0 rgba(52, 65, 105, 0.33);
  width: initial;
}

.badges-list{
  list-style: none;
  display: flex;
  li {
    display: inline;
  }
  .logo-text{
    text-align: center
  }
}
