@import '../../sass/conf/conf';
@import '~bootstrap/scss/bootstrap';

.medium-card {
    // width: 30%;
    @extend .col-10;
    
    min-height: 400px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 113px 0;
    border-top: 7px solid #6a4fb8;
    border-radius: 4px;
    margin-left: 28px;
    box-shadow: 0px 0px 14px rgba(52, 76, 111, 0), 0px 0px 14px rgba(65, 94, 136, 0.55), 0 -2px 0 #7759d4;
    margin-top: 10px;
    float: left;
    padding: 0px;
    
    .card-header{
        color: #fff;
        text-align: center;
        padding-right: 20px;
        position: relative;
        top: -6px;
        text-shadow:2px 2px 2px rgba(0, 0, 0, 0.29);
        font-size: 0.98em;
        background-color: #7759d4;
    }
}
.pontos{
	color: #7759d4;
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: left;
    margin-left: 20px;
    top: 3px;
    position: relative;
}
.pagination{
    color: #7759d4;
}
.content-li{
    margin-left: 15px;
}

ul.ranking-list {
	padding: 0;
    margin-top: 0;
    li{
        list-style: none;
        border-bottom: 1px solid #e9e9e9;
        padding-bottom: 19px;
        text-align: left;
        height: 50px;
        .content-li-counter{
            font-size: 1.9em;
            color: #7759d4;
            float: left;
            margin-top: 8px;
            padding-left: 5px;
            // position: relative;
            top: 3px;
            font-style: italic;
            
        }
        profile-image{
            float: left;
        }
        .name {
            font-weight: bold;
            color: #363d4d;
            font-size: 0.85em;
            line-height: 114%;
            padding-top: 10px;
            float: left;
            margin-left: 2px;
            span {
                font-weight: normal;
                display: block;
                font-size: 0.7em;
                color: #a5b0b8;
                text-transform: uppercase;
                letter-spacing: 0;
            }
        }
        
    }
}