// @import '../../sass/auth';
/deep/ main.initial {
    &:before {
        background: none;
    }
    // background-color: red;
}

.login {    
    background: url('/assets/img/voce/bg_capa_login.jpg');
    background-repeat: no-repeat;
    width: 100%;
    min-height: 900px;
}

.login_box {
	width: 393px;
	border-radius: 17px;
	background-color: rgba(11, 18, 23, 0.42);
	box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.12);
	position: absolute;
	top: 176px;
	left: 179px;
}
.login_logo {
	width: 209px;
	height: 55px;
	background-image: url('/assets/img/voce/logo_meu_serpro.svg');
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 22px;
	background-size: 100%;
}
form.login_form {
	text-align: center;
}
.login_form input {
	width: 78%;
	margin: 10px 0 0 0;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 11px;
	padding-right: 20px;
	padding-top: 12px;
	padding-bottom: 7px;
	background: inherit;
	border: none;
	font-size: 15px;
	border-bottom: 1px solid #414a5d;
	height: 35px;
}
.login_form input:focus {
	background-color: rgb(255, 248, 200);
	color: #636363;
	transition: linear 0.4s;
}

.button {
	width: 202px;
	background-color: #7d53e3;
	display: block;
	border-radius: 16px;
	text-align: center;
	padding-top: 10px;
	margin: 0 auto;
}
.button:hover {
	background-color: #e3a853;
	transition: linear 0.4s;
}
.button {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	padding: 6px 1px;
	margin-bottom: 22px;
}