<div class="clearfix">
  <!-- <cards-action></cards-action> -->
  <h1>Seja bem vindo ao "Meu Serpro"!</h1>
  <p>
  Neste ambiente você terá a oportunidade de participar do Planejamento Estratégico 2018, 
  por meio da contribuição de iniciativas para os Objetivos Estratégicos. 
  Identifique no menu lateral o Objetivo Estratégico que você deseja contribuir com propostas.
  Você pode propor novas propostas e apoiar propostas já existentes. Observe os detalhes da 
  proposta para poder apoiá-las.
  </p>

  <cards-badge></cards-badge>
  <cards-ranking-proposals></cards-ranking-proposals>
  <cards-ranking-users></cards-ranking-users>
  <!-- <card-base class="cards-ranking" cardTitle="dashboard.badges.my"
    baCardClass="xmedium-card feed-comply-panel with-scroll todo-panel">
  </card-base>  
   -->

</div>