

<div class="medium-card">
  <div class="card-header"> Ranking de Propostas </div>
  <div class="content">
    <div class="pontos">Votos</div>
    <ul class="ranking-list">
      <li *ngFor="let proposal of proposals">
        <div class="content-li row">
          <div class="content-li-counter col-1"> {{proposal.votes_count}} </div>
          <div class="identifier col-1">#{{proposal.id}}</div>
          <div class="name col-8">
            {{proposal.title | shorten: 200: '...'}}
            <!-- {{user.name | shorten: 25: '...'}} -->
            
          </div>
        </div>
      </li>
    </ul>
    <nav class="d-flex justify-content-center">
        <ul class="pagination pagination-lg">
          <li class="page-item" [ngClass]="{'disabled': !isPreviousActive()}">
            <a class="page-link" (click)="previousPage()" tabindex="-1">Anterior</a>
          </li>
          <li class="page-item">
            <a class="page-link" [ngClass]="{'disabled': !isNextActive()}" (click)="nextPage()">Próximo</a>
          </li>
        </ul>
      </nav>
  </div>
</div>