@import '../../sass/conf/conf';
@import '~bootstrap/scss/bootstrap';

.medium-card {
    @extend .col-8;
        min-height: 400px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 113px 0;
        border-top: 7px solid #0e8cb7;
        border-radius: 4px;
        margin-left: 28px;
        box-shadow: 0px 0px 14px rgba(52, 76, 111, 0), 0px 0px 14px rgba(65, 94, 136, 0.55), 0 -2px 0 #00a0d2;
        margin-top: 10px;
        float: left;
        padding: 0px;
        .card-header{
            color: #fff;
            text-align: center;
            padding-right: 20px;
            position: relative;
            top: -6px;
            text-shadow:2px 2px 2px rgba(0, 0, 0, 0.29);
            font-size: 0.98em;
            background-color: #00a0d2;
        }
    }

    
.pontos{
	color: #00a0d2;
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: left;
    margin-left: 20px;
    top: 3px;
    position: relative;
}
.identifier{
    color: #00a0d2;
}
.pagination{
    color: #00a0d2;
}

.content-li{
    margin-left: 25px;
}
ul.ranking-list {
	padding: 0;
	margin-top: 0;
	
}

ul.ranking-list li{
	list-style: none;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 19px;
	text-align: left;
	height: 50px;
	
}


ul.ranking-list li:nth-child(odd) {
    background-color: #fff;
}
ul.ranking-list li:nth-child(even) {
	background-color: #f7f7f7;
}



ul.ranking-list li .content-li-counter{
	font-size: 1.9em;
    color: #00a0d2;
    // float: left;
    margin-top: 8px;
    padding-left: 5px;
    // position: relative;
    top: 3px;
    font-style: italic;
}


ul.ranking-list li img{
    width: 39px;
    position: relative;
    top: 12px;
    padding-right: 5px;
    float: left;
    padding-left: 10px;
}


ul.ranking-list li .name {
    font-weight: bold;
    color: #363d4d;
    font-size: 0.85em;
    line-height: 114%;
    // padding-top: 20px;
	// margin-left: 30px;
}

ul.ranking-list li .name span {
    font-weight: normal;
    display: block;
    font-size: 0.7em;
    color: #a5b0b8;
    text-transform: uppercase;
    letter-spacing: 0;
}


// ul.ranking-list li .content-li.azul .name {
//     font-weight: bold;
//     color: #666a75;
//     font-size: 1em;
//     line-height: 114%;
//     padding-top: 25px;
//     padding-left: 145px;
// }

