<aside class="al-sidebar" sidebarResize>
    <div class="user-profile">
        <div class="dropdown al-user-profile">
          <div class="profile-toggle-link">
            <profile-image [width]=63 [height]=63  ></profile-image>
          </div>
          <div class="name">{{user.name}} 
            <!-- <span>Belo Horizonte/ SUPDE</span> -->
          </div>
          <div class="progress">
            <div class="actual_progress" [ngStyle]="{width: currentProgress() + '%'}"></div>
            <div class="nivel_atual">Nível <span>{{currentLevel()}}</span></div>
            <div class="nivel_proximo">Nível <span>{{nextLevel()}}</span></div>
          </div>
          <div class="money_header"><span>PONTOS</span> {{user.points}}</div>

        </div>
      </div>
  <layout-menu [menuHeight]="menuHeight"
           [sidebarCollapsed]="isMenuCollapsed"
           (expandMenu)="menuExpand()"></layout-menu>
</aside>
