@import '../../../sass/conf/conf';

aside.al-sidebar {
  width: $sidebar-width;
  top: $top-height;
  left: 0;
  z-index: 1001;
  display: block;
  min-height: 100%;
  background-color: $sidebar;
  height: 100%;
  position: absolute;
  background: url('/assets/img/voce/bg_sidebar.png'), #1a224e;
	display: block;
	min-height: 1000px;
	background-position: 63% 70%;
  float: left;
}

.money_header {
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    float: left;
    padding-top: 10px;
    // margin-left: 38%;
	text-shadow: 2px 2px 0 hsla(0,32%,9%,0.24);
	span {
		text-shadow: none;
		color: #ffca00;
		font-size: 12px;
		position: relative;
		top: -2px;
	}
}

.user-profile {
	width: 100%;
	position: relative;
	top: 20px;
	margin-bottom: 80px;
}
.dropdown.al-user-profile {
	width: 80%;
	margin: 0 auto;
}
.profile-toggle-link {
	float: left;
	margin-right: 9px;
}
.user-profile .name {
	line-height: 110%;
	padding-top: 15px;
	color: #FFF;
	font-size: 18px
}
.user-profile .name span {
	display: inherit;
	font-weight: normal;
	font-size: 0.6em;
	color: #7e7f80;
}


.progress {
	width: 90%;
	// height: 8px;
	background: #dedede;
	margin: 20px auto;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 9.8px;
  color: #4c69ca;
  display: block;
  overflow: initial;
}
.actual_progress {
	background: #5272db;
	width: 50%;
	height: 9px;
	border-radius: 5px;
	border-top: 2px solid #98abea;
	border-bottom: 2px solid #435db3;
	border-right: 3px solid #4166D3;
}
.nivel_atual {
	float: left;
	margin-top: 6px;
}
.nivel_proximo {
	float: right;
	color: #8897b3;
	text-transform: uppercase;
	font-size: 9.8px;
	margin-top: 6px;
}
.nivel_atual span, .nivel_proximo span {
	color: #92a9f5;
}
