<li *ngIf="!menuItem.hidden" [title]="menuItem.title" 
  [ngClass]="{'al-sidebar-list-item': !child, 
  'ba-sidebar-sublist-item': child, 
  'selected': menuItem.selected && !menuItem.expanded, 
  'with-sub-menu': menuItem.children, 
  'ba-sidebar-item-expanded': menuItem.expanded}">
  
    <a *ngIf="!menuItem.children" (mouseenter)="onHoverItem($event, item)" [routerLink]="menuItem.path" class="al-sidebar-list-link">
      <img *ngIf="!menuItem.icon" src="assets/img/voce/ico_conquistas.svg">
      <i *ngIf="menuItem.icon" class="{{ menuItem.icon }}"></i><span translate>{{ menuItem.title | translate  }}</span>
    </a>
  
    <a *ngIf="menuItem.children" (mouseenter)="onHoverItem($event, item)" href (click)="onToggleSubMenu($event, menuItem)" class="al-sidebar-list-link">
      <i *ngIf="menuItem.icon" class="{{ menuItem.icon }}"></i><span translate>{{ menuItem.title }}</span>
      <b class="fa " [ngClass]="{'fa-angle-up': menuItem.expanded, 'fa-angle-down': !menuItem.expanded }"></b>
    </a>
  
    <ul *ngIf="menuItem.children" class="al-sidebar-sublist" [ngClass]="{'slide-right': menuItem.slideRight}">
      <layout-menu-item [menuItem]="subItem"
                    [child]="true"
                    (itemHover)="onHoverItem($event)"
                    (toggleSubMenu)="onToggleSubMenu($event, subItem)"
                    *ngFor="let subItem of menuItem.children"></layout-menu-item>
    </ul>
  
  </li>