@import '~bootstrap/scss/bootstrap';

.proposals-action{
    padding: 20px;
    margin: 20px;
}

.panel{
    padding: 30px;
}

.list-group{
    color: black;
}

.proposal-new{
    // @extend .col-5;
    height: 200px;
    // background-color: blue;
    margin-bottom: 30px;
    margin-right: 20px;
    cursor: pointer;
    .button-box{
        background-color: #e19428;
        border: 5px solid #975000;
        border-radius: 5px;
        box-shadow: 11px 14px 0px 2px rgba(0, 0, 0, 0.4);
        display: inline-block;
        img{
            padding: 20px;
            width: 120px;
            float: left;
        }
        .text{
            font-style: bold;
            float: left;
            font-size: xx-large;
            margin-top: 38px;
            margin-right: 10px;
        }
    }
}

.proposal-details{
    // @extend .col-6;
    height: 100px;
    background-color: #b9cae4;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 0px;    
    .title{
        padding: 10px;
        padding-left: 20px;
        border-radius: 10px;
        background-color: #243066;
        width: 60%;
        margin-top: -15px;
    }
    .description{
        padding: 20px;
        color: #484c52;
    }
}
.pagination{
    color: #00a0d2;
}

.panel-top{
    @extend .row;
}

.panel-heading{
    background-color: #5172b4;
    padding: 20px;
    text-align: center;
    font-size: x-large;
}
.proposal-actions{
    color: #00a0d2;
    font-size: large;
    .edit{
        float: left;
        cursor: pointer;
    }
    .proposal-detail{
        float: left;
        margin-left: 30px;
        cursor: pointer;
        img{
            float: left;
            width: 40px;
        }
        .text{
            float: left;
        }
    }

}
