<div class="page-top clearfix" scrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/dashboard" class="al-logo"></a>  
  <a href (click)="toggleMenu()" class="collapse-menu-link fa fa-bars"></a>

  <!-- <div class="search">
    <i class="fa fa-search" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Procurar por...">
  </div> -->

  <div *ngIf="user" class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">        
        <profile-image width="45" height="45"></profile-image>
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <!-- <li class="dropdown-item"><a href><i class="fa fa-user"></i>Profile</a></li> -->
        <!-- <li class="dropdown-item"><a href><i class="fa fa-cog"></i>Settings</a></li> -->
        <!-- <li class="dropdown-item"><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li> -->
        <li class="dropdown-item"><a [routerLink]="['/sign-out']" class="signout"><i class="fa fa-power-off"></i>Sair</a></li>
      </ul>
    </div>
    <profile-notification></profile-notification>
  </div>
</div>
