<div class="task-action-container">  
  <!-- <div class="box-shadow-border"></div> -->

  <ul class="action-list">
    <li *ngFor="let item of actions">

      <div class="blur-container"><div class="blur-box"></div></div>
      <!-- <i class="mark" [ngStyle]="{ 'background-color': item.color }"></i> -->
      <label class="action-checkbox">        
        <span class="cut-with-dots">{{ item.title }}</span>
      </label>      
    </li>
  </ul>
</div>