 <div class="modal-header">
    <h4 class="modal-title">{{proposal.objective.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="ngbModalRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <h2>{{proposal.title}}</h2>

    <p>{{proposal.description}}</p>

    <h3>Autores</h3>
    <p>
        {{proposal.authors}}
    </p>

    <h3>Contribuição</h3>
    <p>
        {{proposal.contribution}}
    </p>

    <div class='proposal-actions clearfix d-flex justify-content-end'>
        <div class='back' (click)="back(proposal)">
            <img src="assets/img/voce/voltar.png"/>
            Voltar
        </div>
        <div *ngIf="!isOwner(proposal) && !alreadyVoted(proposal)" class='vote' (click)="vote(proposal)">
            <img src="assets/img/voce/curtir.png"/>
            Apoiar <b>Proposta</b>
        </div>
        <!-- <button *ngIf="!isOwner(proposal) && !alreadyVoted(proposal)" (click)="vote(proposal)" class="btn btn-xs btn-warning">Apoiar!</button> -->
                
    </div>

</div>